@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@900&display=swap'); 

body{
    background: #f3ebdd;
}

.container{
    width: 1500px;
    height: 840px;
}


.header{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.logo{
    font-family: 'Larsseit';
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
    
}


.navig{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Larsseit';
    font-size: 14px;
    line-height: 16px;
    color: #22356F;
    margin-top: 10px;
    text-decoration: none;
}

.end{
    font-family:'Larsseit';
    color: white;
    font-size: 14px;
    border-radius: 28px;
    background-color: #62D0DF;
    border: none;
    padding:10px 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}





.sg{
    position: absolute;
width: 484px;
height: 64px;
left: 206px;
top: 241px;

font-family: 'Larsseit';
font-size: 24px;
line-height: 27px;
letter-spacing: -0.035em;
color: #62D0DF;
}

.tt{
    font-family: 'Larsseit';
    font-size: 43px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
    position: absolute;
width: 484px;
height: 167px;
left: 206px;
top: 305px;
}

.rr{
    font-family: 'Larsseit';
font-size: 24px;
line-height: 42px;
color: #22356F;
position: absolute;
width: 469px;
height: 161px;
left: 206px;
top: 491px;
}

.who{
    margin-left: 175px;
    margin-top: 40px;
    background-color: rgb(251, 153, 32);
    font-size: 15px;
    padding: 10px 35px;
    color: white;
    font-family: 'Roboto', sans-serif;;
    border: none;
    font-weight: bolder;
    transform: translateY(-700%);
}

.what{
    background-color:  #f3ebdd;
    color: rgb(251, 153, 32);
    font-size: 15px;
    padding: 10px 35px;
    font-family: 'Roboto', sans-serif;;
    border: none;
    font-weight: bolder;
    margin-left: 10px;
    transform: translateY(-700%);
}



.avatar{
/* Rectangle 3.1 */

position: absolute;
width: 500px;
height: 500.93px;
left: 930px;
top: 100.66px;

background: #EDFDFF;
border-radius: 100px;
transform: translate(120px,50);
}


.aboutus{
    position: absolute;
    width: 1437px;
    height: 605px;
    left: 1px;
    top: 842px;
    margin-left: 10px;
    background: #62D0DF;
}

.avatar1{
    position: absolute;
width: 525px;
height: 604px;
left: 915px;
top: 842px;
transform: translateY(-139.4%);
object-fit: fill;
}

.question{
    position: absolute;
width: 223px;
height: 51px;
left: 179px;
top: 993px;

font-family: 'Larsseit';
font-size: 36px;
line-height: 27px;
letter-spacing: -0.006em;
transform: translateY(-1600%);
color: #FFFFFF;
}

.answer{
    position: absolute;
width: 555px;
height: 235px;
left: 179px;
top: 1119px;

font-family: 'Larsseit';
font-size: 24px;
line-height: 35px;
transform: translateY(-360%);
color: #FFFFFF;
}


.aboutus2{
    background: #FFFFFF;
}

.ab{
    position: absolute;
width: 93px;
height: 210px;
left: 106px;
top: 1602px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 23px;
letter-spacing: 0.06em;

color: #22356F;
}

.tex{
    position: absolute;
width: 592px;
height: 210px;
left: 424px;
top: 1596px;

font-family: 'Larsseit';
font-size: 24px;
line-height: 34px;
letter-spacing: 0.005em;

color: #22356F;
}

.canhelp{
    position: absolute;
width: 201px;
height: 21px;
left: 620px;
top: 1882px;

font-family: 'Larsseit';
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;

color: rgba(34, 53, 111, 0.5);
white-space: nowrap;
text-align: center;
}

.jol{
    background-color: #FFFFFF;
    display: flex;
justify-content: flex-start;
flex-direction: row;
}


.box{
    position: absolute;
width: 360px;
height: 360px;
left: 0px;
top: 1927px;

}
    

   

.pink{
    position: absolute;
    width: 232px;
    height: 54px;
    left: 78px;
    top: 2022px;
    
    font-family: 'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    
    color: #FFFFFF;
}

.green{
    background: #C4E769;
    position: absolute;
width: 230px;
height: 54px;
left: 438px;
top: 2022px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;

}

.aqua{
    position: absolute;
width: 360px;
height: 360px;
left: 720px;
top: 1927px;

background: #62D0DF;
position: absolute;
width: 218px;
height: 54px;
left: 798px;
top: 2022px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;

}

.blue{
    position: absolute;
width: 360px;
height: 360px;
left: 1078px;
top: 1927px;

background: #0052C1;
position: absolute;
width: 214px;
height: 54px;
left: 1156px;
top: 2022px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;

}